<div class="container ">
    <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <h1 style="text-align: center">Wyshlist</h1>
            <h5 style="text-align: center">"The official app for all of the requests of the C12 Cohort"</h5>
            <h6 style="text-align: center; padding-bottom: 20px;">"AKA Things Bianca Should Buy For Us"</h6>
        </div>

        <div style="width:400px; margin:0 auto; padding-top: 50px;">
            <%= form_tag '/login' do %>

            <div style="width:100px; margin:0 auto; text-align: center;">
                <h5>Email</h5>
            </div>

            <div style="color: black">
              <%= text_field_tag :email %>
            </div>

            <div style="width:150px; margin:0 auto; text-align: center;">
                <h5>Password</h5>
            </div>

            <div style="color: black">
              <%= password_field_tag :password %>
            </div>

            <div style="text-align: center;">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <%= submit_tag "Submit" %>
                </button>
            </div>
            <% end %>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
</div>
